/* /src/theme/Footer/Feedback/Feedback.module.css */
.feedbackWrapper {
  opacity: 0;
  transition: opacity 0.3s ease-in;
  pointer-events: none;
}

.loaded {
  opacity: 1;
  pointer-events: auto;
}

.feedbackWrapper:not(.loaded) :global(pushfeedback-button) {
  display: none;
}

:root {
  --feedback-primary-color: var(--ifm-color-primary);
  --feedback-button-light-bg-color: var(--ifm-color-primary);
  --feedback-button-light-text-color: #191919;
  --feedback-button-light-icon-color: #191919;
}