:root {
  --link-color-light: #a4b203;
  --link-color-dark: #fba388;
  --link-hover-color-light: #8b9703;
  --link-hover-color-dark: #f97850;
}

html[data-theme='light'] .link {
  color: var(--link-color-light);
}

html[data-theme='dark'] .link {
  color: var(--link-color-dark);
}

.link {
  text-decoration: underline dotted;
  cursor: help;
}

html[data-theme='light'] .link:hover {
  text-decoration: underline dotted var(--link-hover-color-light);
  color: var(--link-hover-color-light);
}

html[data-theme='dark'] .link:hover {
  text-decoration: underline dotted var(--link-hover-color-dark);
  color: var(--link-hover-color-dark);
}