name: klaytn-docs-docusaurus prod deploy workflow
on:
  push:
    branches:
      - main
      - devops/debug-cicd-issue

jobs:
  deploy:
    name: deploy
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Get AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_IAM_ROLE_ARN_PROD }}
          role-session-name: SessionForKlaytnActions
          aws-region: ${{ secrets.AWS_REGION_PROD }}

      - name: Installing Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Installing dependencies
        run: |
          yarn install
      - name: Clone kaia-sdk
        run: |
          git clone -b dev https://github.com/kaiachain/kaia-sdk.git
          cd kaia-sdk/documentation && yarn install && cd -

      - name: Generate .mdx files
        env:
          RPC_SPEC_DIR: ../../web3rpc/yaml
        run: |
          cd kaia-sdk/documentation && bash generate-docs.sh split && cd -
          cd web3rpc && bash -x web3rpc.sh && cd - && yarn build && exit 0
      - name: Build static files
        run: yarn build

      - name: Sync to S3 bucket and validation cloudfront
        env:
          S3_BUCKET_PROD: ${{ secrets.S3_BUCKET_PROD }}
          CLOUDFRONT_ID_PROD: ${{ secrets.CLOUDFRONT_ID_PROD }}
        run: |
          aws s3 sync ./build/ $S3_BUCKET_PROD --delete
          aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_ID_PROD --paths "/*"